@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');


html{
	scroll-behavior: smooth;

}
body{
    background-image: url('../images/33.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Tajawal';
    direction: rtl;
	text-align: right;


}

.navbar{
	box-shadow: 1px 2px 5px rgb(197, 197, 197);
	text-align: right;


}


.section_signup{
	width: 30%;
	margin-right: 35%;
	margin-top: 15%;
	padding:8px 10px;
	cursor:pointer;
}

.input-group{
    margin-top: 20px;
    
}

.input-group-addon{
    background: transparent;
    border-radius: 0px;
    border: 0px;
   font-size: 20px;
   color: rgb(143, 3, 3);

}

.form-control{

    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid rgb(51, 133, 13);
    font-size: 16px;
    height: 30px;
    padding: 15px;
    background-color: transparent;
  



}

input[type="ckeckbox"]{
    margin-top: 20px;
    height: 20px;
    width:10px;
}

.btn{

    margin-top: 20px;
    width: 100px;
    margin-right: 10px;
    font-size: 15px;
}

h3

{
    color: #28a745;
}





